.titleWrap {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  /* line-height: X;       
   max-height: X*N;  */
}

.cardImages {
  width: 100%;
  height: 15vw;
  object-fit: cover;
  object-position: top;
}

.card {
  cursor: pointer;
}

.commentDiv {
  display: flex;
  justify-content: center;
}
.imageComment {
  height: 200px;
  width: 150px;
}

body.modal-open {
  overflow: inherit !important;
}

body > form {
  font-family: "Roboto", sans-serif;
}

.newComment {
  margin-top: 25px;
}

.detailsRow {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.movieDetailContainer {
  color: white;
  text-align: justify;
  margin: 0 auto;
}

.movieDataList > div {
  background-color: #000000;
  padding-inline: 0px;
}

.loader {
  position: fixed;
  left: 50%;
  top: 50%;
}

.movieDetailContainer img {
  border: 1px solid rgb(158, 153, 153);
  border-radius: 5px;
}

.mainBodyContianer img:hover {
  transform: scale(1.2);
  z-index: 2;
}

.mainBodyContianer img {
  object-fit: contain;
  transition: all 0.6s;
}
.carouselHeading {
  margin-left: 0px;
  color: white;
}

.registerContainer {
  color: white;
  margin: 0 auto;
  margin-top: 50px;
}
